@import "tailwindcss";

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@utility font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}
